<div class="contentLayout2">
    <div class="columnLayout single" data-layout="single">
        <div class="cell normal" data-type="normal">
            <div class="innerCell">
                {{#if header}}
                    {{> components/header anchor=header.anchor number=header.number title=header.title}}
                {{/if}}
                
                {{#if table}}
                    {{> components/table rows=table.rows}}
                {{/if}}
                
                {{#if paragraphs}}
                    {{#each paragraphs}}
                        <p>{{this}}</p>
                    {{/each}}
                {{/if}}
                
                {{#if note}}
                    {{> components/note text=note.text}}
                {{/if}}
            </div>
        </div>
    </div>
</div>