<div class="table-wrap">
    <table class="relative-table wrapped confluenceTable">
        <colgroup>
            <col style="width: 30%;"/>
            <col style="width: 70%;"/>
        </colgroup>
        <tbody>
            {{#each rows}}
            <tr>
                <td class="highlight-#f4f5f7 confluenceTd" data-highlight-colour="#f4f5f7">
                    <strong>{{label}}</strong>
                </td>
                <td class="confluenceTd">
                    <div class="content-wrapper">{{{content}}}</div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>