<div class="navgroup" id="navigation">
    <ul>
        <li>
            <span>SSM - Soft Systems Methodology by Checkland</span>
            <input type="checkbox" checked/>
            <ul>
                <li>
                    <span><a href="page292700446.html">1. [SSM] Черновик и Чистовик</a></span>
                    <input type="checkbox"/>
                    <ul>
                        <li><span><a href="page298994988.html">Часть 1: API GET методы для UI</a></span></li>
                    </ul>
                </li>
                <li><span><a href="page292702311.html">2. [SSM] Формирование заявок/отчетов. Отправка в ОРД. Статусная модель. Excel-выгрузки.</a></span></li>
                <li><span><a href="page298997495.html">3. [SSM] Проработка фичей вне БФТ</a></span></li>
                <li><span><a href="page309407588.html">4. [SSM] Получение актуальных DTO из ОРД Яндекс</a></span></li>
                <li><span><a href="page292700439.html">XX. [SSM] Шаблон</a></span></li>
            </ul>
        </li>
    </ul>
</div>